#generate-pdf-page .image-preview {
    --bs-aspect-ratio: 100%;
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: grab;
}

#generate-pdf-page .image-preview:before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}

#generate-pdf-page .list-images {
    --bs-gutter-y: var(--spacing-lg);
}

#generate-pdf-page .btn.btn-remove {
    position: absolute;
    top: var(--spacing-xs);
    right: var(--spacing-xs);
    --bs-btn-padding-y: var(--spacing-xs);
    --bs-btn-padding-x: var(--spacing-sm);
    opacity: 0;
    transition: opacity var(--transition-fast) ease-in-out;
}

#generate-pdf-page .image-preview:hover .btn.btn-remove {
    opacity: 1;
}
