.preview-display {
    width: 3000px;
    height: 2250px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.41) 0px 0.5rem 3rem 7px;
    background: linear-gradient(120deg, #ffecd2, #fcb69f);
    position: relative;
    font-family: "Lato", sans-serif;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #222;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.text1 {
    font-family: "PWPerspective";
    font-size: 380px;
}
.text2 {
    font-size: 90px;
    font-weight: 700;
}
.text3 {
    font-size: 60px;
    font-weight: 900;
}

.image {
    width: 420px;
    aspect-ratio: 595/842;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.image-1 {
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-25deg);
}
.image-2 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
}
.image-3 {
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-5deg);
}
.image-4 {
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(20deg);
}
.image-5 {
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(-15deg);
}
