.preview-display {
    width: 3000px;
    height: 2250px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.41) 0px 0.5rem 3rem 7px;
    position: relative;
    font-family: "Lato", sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(120deg, #ffecd2, #fcb69f);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #222;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.text1 {
    font-family: "PWPerspective";
    font-size: 380px;
}
.text2 {
    font-size: 90px;
    font-weight: 700;
}
.text3 {
    font-size: 60px;
    font-weight: 900;
}

.image {
    width: 420px;
    aspect-ratio: 595/842;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.image-1 {
    top: 36%;
    left: 16%;
    width: 380px;
    transform: translate(-50%, -50%) rotate(-19deg);
}
.image-2 {
    top: 28%;
    left: 42%;
    width: 430px;
    transform: translate(-50%, -50%) rotate(11deg);
}
.image-3 {
    top: 56%;
    left: 30%;
    width: 400px;
    transform: translate(-50%, -50%) rotate(-7deg);
}
.image-4 {
    top: 62%;
    left: 60%;
    width: 450px;
    transform: translate(-50%, -50%) rotate(16deg);
}
.image-5 {
    top: 40%;
    left: 76%;
    width: 380px;
    transform: translate(-50%, -50%) rotate(-11deg);
}
