<div class="preview-display">
    <div class="background" data-pattern="">
        <div class="text-container" data-pattern="">
            <span class="text1">PARIS</span>
            <span class="text2">for tablet & print</span>
            <span class="text3">easy to color anywhere</span>
        </div>

        <div class="mockup tablet" data-title="Tablet View">
            <div class="screen" data-img="" data-title="Image 1"></div>
        </div>

        <div class="mockup paper" data-title="Printed Page">
            <div class="page" data-img="" data-title="Image 2"></div>
        </div>
    </div>
</div>