@font-face {
    font-family: "Sixtyfour";
    font-weight: 100;
    font-style: normal;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 300;
    font-style: normal;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 400;
    font-style: normal;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 500;
    font-style: normal;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 700;
    font-style: normal;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 900;
    font-style: normal;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

/* Italic */

@font-face {
    font-family: "Sixtyfour";
    font-weight: 100;
    font-style: italic;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 300;
    font-style: italic;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 400;
    font-style: italic;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 500;
    font-style: italic;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 700;
    font-style: italic;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Sixtyfour";
    font-weight: 900;
    font-style: italic;
    src: local("Sixtyfour"), url(./Sixtyfour-Regular.ttf) format("opentype");
    font-display: swap;
}
