@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 100;
  font-style: normal;
  src: url("./BitcountGridSingle-Thin.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 200;
  font-style: normal;
  src: url("./BitcountGridSingle-ExtraLight.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 300;
  font-style: normal;
  src: url("./BitcountGridSingle-Light.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 400;
  font-style: normal;
  src: url("./BitcountGridSingle-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 500;
  font-style: normal;
  src: url("./BitcountGridSingle-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 600;
  font-style: normal;
  src: url("./BitcountGridSingle-SemiBold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 700;
  font-style: normal;
  src: url("./BitcountGridSingle-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 800;
  font-style: normal;
  src: url("./BitcountGridSingle-ExtraBold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingle";
  font-weight: 900;
  font-style: normal;
  src: url("./BitcountGridSingle-Black.ttf") format("opentype");
  font-display: swap;
}