<div class="preview-display">
    <div class="background">
        <div class="text-container">
            <span class="text1">LONDON</span>
            <span class="text2">Creative Coloring</span>
            <span class="text3">12 PNG | 1 PDF</span>
        </div>

        <div class="image image-1" data-img="" data-title="Image 1"></div>
        <div class="image image-2" data-img="" data-title="Image 2"></div>
        <div class="image image-3" data-img="" data-title="Image 3"></div>
        <div class="image image-4" data-img="" data-title="Image 4"></div>
        <div class="image image-5" data-img="" data-title="Image 5"></div>
    </div>
</div>
