.rotated-squares-pattern {
    --s: 400px; /* control the size*/
    --c1: #046d8b;
    --c2: #2fb8ac;

    --_g: #0000 90deg, var(--c1) 0;
    background: conic-gradient(from 116.56deg at calc(100% / 3) 0, var(--_g)),
        conic-gradient(from -63.44deg at calc(200% / 3) 100%, var(--_g)) var(--c2);
    background-size: var(--s) var(--s);
}