.temani-afif-two-color-nested-squares-pattern {
  --s: 121px; /* control the size*/
  --c1: #dfba69;
  --c2: #5a2e2e;
  
  --c: var(--c1) 12.5%,var(--c2) 0 25%,#0000 0;
  background:
    conic-gradient(at 80% 20%,var(--c))
     calc(2*var(--s)/-5) calc(2*var(--s)/5),
    conic-gradient(from 180deg at 60% 40%,var(--c))
     calc(var(--s)/5) calc(var(--s)/-5),
    conic-gradient(at 0% 100%,var(--c));
  background-size: var(--s) var(--s);
}