.temani-afif-shuriken-pattern {
  --s: 30px; /* control the size*/
  --c1: #88c425;
  --c2: #1b676b;
  
  --c: var(--c1) 25%,#0000 0;
  
  --_s:/calc(6*var(--s)) calc(6*var(--s));
  --g1:var(--_s) conic-gradient(from  45deg at     calc(250%/3),var(--c));
  --g2:var(--_s) conic-gradient(from 135deg at 50% calc(250%/3),var(--c));
  --g3:var(--_s) conic-gradient(from 225deg at     calc(50%/3) ,var(--c));
  --g4:var(--_s) conic-gradient(from -45deg at 50% calc(50%/3) ,var(--c));
  background:
    calc(2*var(--s)) calc(5*var(--s)) var(--g4),
    calc(5*var(--s)) calc(2*var(--s)) var(--g4),
    0                calc(4*var(--s)) var(--g3),
    calc(3*var(--s)) var(--s)         var(--g3),
    calc(2*var(--s)) calc(3*var(--s)) var(--g2),
    calc(5*var(--s)) 0                var(--g2),
    var(--s)         var(--s)         var(--g1),
    calc(4*var(--s)) calc(4*var(--s)) var(--g1),
    conic-gradient(at calc(100%/3) calc(200%/3),var(--c))
     0 0/calc(3*var(--s)) calc(3*var(--s)) var(--c2);
}