.temani-afif-parallelograms-pattern {
  --s: 100px; /* control the size*/
  --c1: #4ecdc4;
  --c2: #556270;
  
  background: 
    linear-gradient(atan(-.5),var(--c1) 33%,var(--c2) 33.5% 66.5%,var(--c1) 67%) 
    0/var(--s) var(--s);
}