.temani-afif-striped-circles-pattern {
  --s: 76px; /* control the size*/
  --c1: #1a144a;
  --c2: #2eb044;
  
  --_g: conic-gradient(var(--c1) 25%,#0000 0) 0 0;
  background:
    var(--_g)/calc(2*var(--s)) calc(var(--s)/9.5),
    var(--_g)/calc(var(--s)/9.5) calc(2*var(--s)),
    repeating-conic-gradient(#0000 0 25%,var(--c1) 0 50%) 
     var(--s) 0 /calc(2*var(--s)) calc(2*var(--s)),
    radial-gradient(50% 50%,var(--c2) 98%,var(--c1)) 
     0 0/var(--s) var(--s);
}