.temani-afif-two-color-wavy-pattern {
  --s: 150px; /* control the size*/
  --c1: #eaff87;
  --c2: #ff714b;
  
  --l:var(--c1) 99%,#0000 101%;
  --p:var(--c2) 99%,#0000 101%;
  --r:closest-corner at;
  background:
    radial-gradient(var(--r)-25% 25%,var(--p)),
    radial-gradient(var(--r)25% -25%,var(--p)),
    radial-gradient(var(--r)125% 75%,var(--p)),
    radial-gradient(var(--r)75% 125%,var(--p)),
    radial-gradient(var(--r)75% 75%,var(--l)),
    radial-gradient(var(--r)25% 25%,var(--l)) var(--c2);
  background-size: var(--s) var(--s)
}