.temani-afif-right-triangles-pattern {
  --s: 70px; /* control the size*/
  --c1: #f67280;
  --c2: #355c7d;
  
  --_g:,#0000 75%,var(--c1) 0;
  background:
    linear-gradient(-45deg var(--_g)),
    linear-gradient( 45deg var(--_g)) 
     0 calc(var(--s)/2) var(--c2);
  background-size: var(--s) var(--s);
}