.temani-afif-herringbone-pattern {
  --s: 50px; /* control the size*/
  --c1: #f8e4c1;
  --c2: #2b4e72;
  
  --c:#0000 75%,var(--c1) 0;
  --g1:conic-gradient(at 78% 3%,var(--c));
  --g2:conic-gradient(at 3% 78%,var(--c));
  background:
    var(--g1),
    var(--g1) var(--s) var(--s),
    var(--g1) calc(2*var(--s)) calc(2*var(--s)),
    var(--g1) calc(3*var(--s)) calc(3*var(--s)),
    var(--g2) 0 calc(3*var(--s)),
    var(--g2) var(--s) 0,
    var(--g2) calc(2*var(--s)) var(--s),
    var(--g2) calc(3*var(--s)) calc(2*var(--s))
    var(--c2);
  background-size: calc(4*var(--s)) calc(4*var(--s));
}