.temani-afif-l-shape-pattern {
  --s: 90px; /* control the size*/
  --c1: #696758;
  --c2: #eee6ab;
  
  --g:at calc(100%/3) 25%,#0000 75%,;
  background:
    conic-gradient(var(--g)var(--c1) 0),
    conic-gradient(var(--g)var(--c2) 0) 0 var(--s),
    repeating-conic-gradient(at calc(200%/3),
      var(--c1) 0 25%,var(--c2) 0 50%);
  background-size: var(--s) calc(4*var(--s)/3);
}