.temani-afif-thick-wavy-pattern {
  --s: 50px; /* control the size*/
  --c1: #d9ceb2;
  --c2: #948c75;
  
  --_g: calc(2*var(--s)) calc(2*var(--s)) 
    radial-gradient(25% 25%,var(--c1) 99%,#0000 101%);
  background:
    0 var(--s)/var(--_g),var(--s) 0/var(--_g),
    radial-gradient(50% 50%,var(--c2) 97%,#0000)
     calc(var(--s)/2) calc(var(--s)/2)/var(--s) var(--s),
    linear-gradient(90deg,var(--c1) 50%,var(--c2) 0) 
     0 0/calc(2*var(--s));
}