.temani-afif-irregular-hexagons-pattern {
  --s: 65px; /* control the size*/
  --c1: #ecd078;
  --c2: #542437;
  
  background:
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
     calc(var(--s)/-2) 0/calc(4*var(--s)) calc(2*var(--s)),
    conic-gradient(#0000 50%,var(--c2) 0)
     0 0/calc(2*var(--s)) 1%,
    repeating-conic-gradient(from 45deg,var(--c2) 0 25%,var(--c1) 0 50%)
     0 0/var(--s) var(--s);
}