.temani-afif-multicolor-circles-pattern {
  --s: 80px; /* control the size*/
  --c1: #f8ca00;
  --c2: #8a9b0f;
  --c3: #c02942;
  --c4: #53777a;
  --c5: #c5bc8e;
  
  --_g:conic-gradient(at 25%,#0000 75%,var(--c1) 0);
  --_s:/calc(2*var(--s)) calc(2*var(--s));
  background:
    radial-gradient(#0000 64%,var(--c5) 65%) 
     0 0/var(--s) var(--s),
    var(--_g) 0 0 var(--_s),
    var(--_g) var(--s) var(--s) var(--_s),
    repeating-conic-gradient(#0000 0 25%,var(--c2) 0 50%)
     0 0 var(--_s),
    linear-gradient(var(--c3) 50%,var(--c4) 0) 
     0 0/1% var(--s);
}