.temani-afif-zig-zag-pattern {
  --s: 100px; /* control the size*/
  --c1: #eceddc;
  --c2: #29ab87;
  
  --_g: var(--c1) 90deg,#0000 90.5deg;
  background:
   conic-gradient(from -45deg,var(--_g)),
   conic-gradient(from 135deg,var(--_g)) calc(var(--s)/2) 0,
   var(--c2);
  background-size: var(--s) var(--s)
}