.temani-afif-houndstooth-pattern {
  --s: 100px; /* control the size*/
  --c1: #5b7c8d;
  --c2: #edf6ee;
    
  background:
    conic-gradient(var(--c1) 25%,#0000 0 50%,var(--c2) 0 75%,#0000 0),
    linear-gradient(135deg,
      var(--c1) 0 12.5%,var(--c2) 0 25%,
      var(--c1) 0 37.5%,var(--c2) 0 62.5%,
      var(--c1) 0 75%  ,var(--c2) 0 87.5%,
      var(--c1) 0);
  background-size: var(--s) var(--s);
}