.temani-afif-trapezoids-pattern {
  --s: 133px; /* control the size*/
  --c1: #67917a;
  --c2: #b8af03;
  
  --c:var(--c1) 0 60deg,#0000 0 50%;
  background:
    repeating-conic-gradient(from -15deg,var(--c))
     calc(var(--s)/2) calc(var(--s)/2),
    repeating-conic-gradient(from  15deg,var(--c))
    var(--c2);
  background-size: var(--s) var(--s)
}