.temani-afif-rectangles-lines-pattern {
  --s: 160px; /* control the size*/
  --c1: #1c2130;
  --c2: #b3e099;
    
  --_c:5%,#0000 75%,var(--c1) 0;
  --_g:/var(--s) var(--s) conic-gradient(at var(--_c));
  --_l:/var(--s) var(--s) conic-gradient(at 50% var(--_c));
  background:
    0 calc(7*var(--s)/10) var(--_l),
    calc(var(--s)/2) calc(var(--s)/5) var(--_l),
    calc(var(--s)/5) 0 var(--_g),
    calc(7*var(--s)/10) calc(var(--s)/2) var(--_g),
    conic-gradient(at 90% 90%,var(--c1) 75%,var(--c2) 0)
    0 0/calc(var(--s)/2) calc(var(--s)/2);
}