.temani-afif-nested-diamond-pattern {
  --s: 100px; /* control the size*/
  --c1: #668284;
  --c2: #b6d8c0;
  --c3: #b9d7d9;
  
  --_g: #0000, var(--c1) 1deg 30deg,var(--c2) 31deg 89deg,var(--c1) 90deg 119deg,#0000 120deg;
  background:
    conic-gradient(from -60deg at 50% 28.86%,var(--_g)),
    conic-gradient(from  30deg at 71.14% 50%,var(--_g)),
    conic-gradient(from 120deg at 50% 71.14%,var(--_g)),
    conic-gradient(from 210deg at 28.86% 50%,var(--_g))
    var(--c3);
  background-size: var(--s) var(--s);
}