.temani-afif-circles-squares-pattern {
  --s: 100px; /* control the size*/
  --c1: #fcd036;
  --c2: #987f69;
  
  --_g: var(--c1) 0 100%,#0000 102%;
  background:
    conic-gradient(#0000 75%,var(--_g)) calc(var(--s)/4) calc(var(--s)/4),
    radial-gradient(65% 65% at 50% -50%,var(--_g)),
    radial-gradient(65% 65% at -50% 50%,var(--_g)),
    radial-gradient(65% 65% at 50% 150%,var(--_g)),
    radial-gradient(65% 65% at 150% 50%,var(--_g))
    var(--c2);
  background-size: var(--s) var(--s);
}