.temani-afif-diagonal-arrows-pattern {
  --s: 62px; /* control the size*/
  --c1: #cf4647;
  --c2: #524656;
  
  background:
    conic-gradient(from  45deg at 75% 75%,var(--c1) 25%,var(--c2) 0 50%,#0000 0)
     0 0/var(--s) var(--s),
    conic-gradient(from 225deg at 25% 25%,var(--c2) 25%,var(--c1) 0 50%,#0000 0)
     0 0/var(--s) var(--s),
    repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
     0 0/calc(2*var(--s)) calc(2*var(--s));
}