.temani-afif-triangles-mosaic-pattern {
  --s: 70px; /* control the size*/
  --c1: #655643;
  --c2: #80bca3;
  
  --g:,var(--c1) 25%,var(--c2) 0 50%,#0000 0;
  background:
    repeating-conic-gradient(var(--c1) 0 30deg,#0000 0 150deg,var(--c2) 0 50%)
     calc(1.5*var(--s)) calc(.865*var(--s)),
    conic-gradient(from  30deg at 75% 75%var(--g)),
    conic-gradient(from -30deg at 75% 25%var(--g)),
    conic-gradient(from 150deg at 25% 75%var(--g)),
    conic-gradient(from 210deg at 25% 25%var(--g)),
    repeating-conic-gradient(var(--c1) 0 30deg,var(--c2) 0 60deg);
  background-size: calc(3*var(--s)) calc(1.73*var(--s));
}