.temani-afif-diagonal-wavy-squares-pattern {
  --s: 40px; /* control the size*/
  --c1: #ab3e5b;
  --c2: #f9f2e7;
  
  --_g:#0000 17.5%,var(--c1) 18% 35%,var(--c2) 35.5% 39%,#0000 40%;
  background:
    radial-gradient(at 100% 0,var(--_g))
     0       calc(var(--s)/-2)/calc(2*var(--s)) calc(2*var(--s)),
    radial-gradient(at 0 100%,var(--_g))
     calc(var(--s)/2) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
    conic-gradient(#0000 75%,var(--c1) 0) 0 0/var(--s) var(--s) 
     var(--c2);
}