.temani-afif-stars-pattern {
  --s: 90px; /* control the size*/
  --c1: #fff220;
  --c2: #e181c2;
  
  --d: calc(var(--s)/10);  /* control the gap between stars */
  
  --_g: var(--c1) 36deg, #0000 0;   
  background:
    conic-gradient(from 162deg at calc(var(--s) * .5)  calc(var(--s) * .68), var(--_g)),
    conic-gradient(from 18deg  at calc(var(--s) * .19) calc(var(--s) * .59), var(--_g)),
    conic-gradient(from 306deg at calc(var(--s) * .81) calc(var(--s) * .59), var(--_g)),
    var(--c2);
  background-position: 0 calc(var(--s) * 0.35);
  background-size: calc(var(--s) + var(--d)) calc(var(--s) + var(--d));
}