.temani-afif-abstract-pattern {
  --s: 50px; /* control the size*/
  --c1: #5e412f;
  --c2: #ccc68d;
  
  --c:calc(50%/3),#0000 75%,var(--c1) 0;
  --g:conic-gradient(at 50% var(--c));
  --l:conic-gradient(at var(--c));
  background:
    var(--g),
    var(--g) calc(var(--s)/2) var(--s),
    var(--g) var(--s) calc(2*var(--s)),
    var(--l) calc(2*var(--s)) 0,
    var(--l) 0 var(--s) var(--c2);
  background-size: calc(3*var(--s)) calc(3*var(--s));
}