.temani-afif-cubes-pattern {
  --s: 100px; /* control the size*/
  --c1: #99b2b7;
  --c2: #edc951;
  
  background:
    conic-gradient(at 80% 80%,var(--c1) 75%,#0000 0),
    linear-gradient(135deg,var(--c1) calc(40%/3),
      #0000 0 calc(200%/3),var(--c1) 0),
    conic-gradient(from 45deg at calc(160%/3) calc(80%/3),
      #0008 135deg,#0000 0 225deg,#0004 0)
    var(--c2);
  background-size: var(--s) var(--s);
}