.temani-afif-outline-triangles-pattern {
  --s: 112px; /* control the size*/
  --c1: #490a3d;
  --c2: #f56991;
  
  --g1:conic-gradient(from -45deg at 60%,#0000 75%,var(--c1) 0);
  --g2:conic-gradient(from -45deg at 30%,#0000 75%,var(--c2) 0);
  background: 
    var(--g2) calc(var(--s)/8) 0,var(--g2) calc(5*var(--s)/8) var(--s),
    var(--g1),var(--g1) calc(var(--s)/2) var(--s) var(--c2);
  background-size: var(--s) calc(2*var(--s));
}