.temani-afif-squares-pattern {
  --s: 50px; /* control the size*/
  --c1: #0b2e59;
  --c2: #0d6759;
  
  background:
    conic-gradient(at 25% 25%,#0000 75%,var(--c1) 0) var(--s) var(--s),
    repeating-conic-gradient(at 25% 25%,var(--c1) 0 25%,var(--c2) 0 50%);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}