.temani-afif-wavy-lines-circles-pattern {
  --s: 40px; /* control the size*/
  --c1: #73c8a9;
  --c2: #dee1b6;
  --c3: #bd5532;
  --c4: #373b44;
  
  --c:,#0000 39%,var(--c1) 40% 93%,#0000 94%;
  --_s:calc(1.5*var(--s))/calc(4*var(--s)) calc(3*var(--s));
  background:
    radial-gradient(calc(1.5*var(--s)) at 37.5%   0%var(--c))
     calc(-.5*var(--s)) var(--_s),
    radial-gradient(calc(1.5*var(--s)) at 37.5% 100%var(--c))
     calc(1.5*var(--s)) var(--_s),
    radial-gradient(25% calc(50%/3),#0000 96%,var(--c2))
     0 0/calc(2*var(--s)) calc(3*var(--s)),
    repeating-conic-gradient(var(--c3) 0 25%,var(--c4) 0 50%)
     0 0/calc(4*var(--s)) calc(6*var(--s));
}}