.temani-afif-two-color-circles-pattern {
  --s: 100px; /* control the size*/
  --c1: #5a3d31;
  --c2: #e5edb8;
  
  background:
    radial-gradient(#0000 50%,var(--c1) 52% 55%,var(--c2) 57%)
    0 0/var(--s) var(--s),
    repeating-linear-gradient(45deg,var(--c1) 0 25%,var(--c2) 0 50%)
    0 0/calc(2*var(--s)) calc(2*var(--s))
}