.temani-afif-citrus-shapes-pattern {
  --s: 55px; /* control the size*/
  --c1: #f9f2e7;
  --c2: #88a65e;
  --c3: #bfb35a;
  
  --b: calc(var(--s)/3.67); /* control the thickness of the curved lines */
  
  --_r: calc(1.28*var(--s) + var(--b)/2) at top 50%;
  --_f: calc(99.5% - var(--b)),var(--c1) calc(101% - var(--b)) 99.5%,#0000 101%;
  --_g0: calc(-.8*var(--s)), var(--c2) var(--_f);
  --_g1: calc(-.8*var(--s)), var(--c3) var(--_f);
  --_s: calc(1.8*var(--s) + var(--b));
  background: 
    radial-gradient(var(--_r) right var(--_g0)) calc(-1*var(--_s)) var(--s),
    radial-gradient(var(--_r) left  var(--_g1))         var(--_s)  calc(-1*var(--s)),
    radial-gradient(var(--_r) right var(--_g1)) calc(var(--_s)/-2) calc(-1*var(--s)),
    radial-gradient(var(--_r) left  var(--_g0)) calc(var(--_s)/ 2) var(--s),
    linear-gradient(90deg,var(--c2) 50%,var(--c3) 0);
  background-size: var(--_s) calc(4*var(--s));
}