.temani-afif-three-braided-lines-pattern {
  --s: 30px; /* control the size*/
  --c1: #5e9fa3;
  --c2: #b05574;
  --c3: #b39c82;
  --c4: #dcd1b4;
  
  background:
    conic-gradient(at 50% calc(100%/6),var(--c1) 60deg,#0000 0),
    conic-gradient(at calc(100%/6) 50%,#0000 240deg,var(--c1) 0),
    conic-gradient(from 180deg at calc(100%/6) calc(500%/6),var(--c1) 60deg,#0000 0),
    conic-gradient(from 180deg at calc(500%/6),#0000 240deg,var(--c1) 0) calc(4*.866*var(--s)) 0,
    repeating-linear-gradient(-150deg,var(--c2) 0 calc(100%/6),#0000   0 50%),
    repeating-linear-gradient(-30deg, var(--c3) 0 calc(100%/6),var(--c4) 0 50%);
  background-size: calc(6*.866*var(--s)) calc(3*var(--s))
}