.temani-afif-flower-petals-pattern {
  --s: 60px; /* control the size*/
  --c1: #f2b4a8;
  --c2: #91204d;
  
  --_g: radial-gradient(25% 25% at 25% 25%,var(--c1) 99%,#0000 101%);
  background:
   var(--_g) var(--s) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
   var(--_g) 0 0/calc(2*var(--s)) calc(2*var(--s)),
   radial-gradient(50% 50%,var(--c2) 98%,#0000) 0 0/var(--s) var(--s),
   repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%) 
     calc(.5*var(--s)) 0/calc(2*var(--s)) var(--s);
}