.temani-afif-intersecting-wavy-lines-pattern {
  --s: 6px; /* control the size*/
  --c1: #3b2d38;
  --c2: #f02475;
  
  --g:#0000 66%,var(--c1) 68% 98%,#0000;
  background:
    radial-gradient(30% 30% at 0%   30%,var(--g))
     var(--s) calc(9*var(--s)),
    radial-gradient(30% 30% at 100% 30%,var(--g))
     var(--s) calc(-1*var(--s)),
    radial-gradient(30% 30% at 30% 100%,var(--g))
     calc(10*var(--s)) 0,
    radial-gradient(30% 30% at 30% 0%  ,var(--g))
     var(--c2);
  background-size: calc(20*var(--s)) calc(20*var(--s));
}