.temani-afif-brick-pattern {
  --s: 50px; /* control the size*/
  --c1: #774f38;
  --c2: #f1d4af;
  
  --g:conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
  background: var(--g),var(--g) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}