@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 100;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-Thin.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 200;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-ExtraLight.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 300;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-Light.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 400;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 500;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 600;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-SemiBold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 700;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 800;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-ExtraBold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BitcountGridSingleRoman";
  font-weight: 900;
  font-style: normal;
  src: url("./BitcountGridSingleRoman-Black.ttf") format("opentype");
  font-display: swap;
}