@font-face {
    font-family: "OpenSans";
    font-weight: 100;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Light.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 200;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Light.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Light.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Medium.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 500;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 600;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 700;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-Bold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 800;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-ExtraBold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 900;
    font-style: normal;
    src: local("OpenSans"), url(./OpenSans-ExtraBold.ttf) format("opentype");
    font-display: swap;
}

/* Italic */

@font-face {
    font-family: "OpenSans";
    font-weight: 100;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-LightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 200;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-LightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-LightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-MediumItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 500;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-Italic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 600;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-Italic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 700;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-BoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 800;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-ExtraBoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 900;
    font-style: italic;
    src: local("OpenSans"), url(./OpenSans-ExtraBoldItalic.ttf) format("opentype");
    font-display: swap;
}
