@font-face {
    font-family: "Inter28pt";
    font-weight: 100;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-Thin.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 200;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-ExtraLight.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 300;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-Light.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 400;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-Medium.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 500;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 600;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-SemiBold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 700;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-Bold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 800;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-ExtraBold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 900;
    font-style: normal;
    src: local("Inter28pt"), url(./Inter28pt-Black.ttf) format("opentype");
    font-display: swap;
}

/* Italic */

@font-face {
    font-family: "Inter28pt";
    font-weight: 100;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-ThinItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 200;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-ExtraLightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 300;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-LightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 400;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-MediumItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 500;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-Italic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 600;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-SemiBoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 700;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-BoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 800;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-ExtraBoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter28pt";
    font-weight: 900;
    font-style: italic;
    src: local("Inter28pt"), url(./Inter28pt-BlackItalic.ttf) format("opentype");
    font-display: swap;
}
