@font-face {
    font-family: "Inter24pt";
    font-weight: 100;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-Thin.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 200;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-ExtraLight.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 300;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-Light.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 400;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-Medium.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 500;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 600;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-SemiBold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 700;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-Bold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 800;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-ExtraBold.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 900;
    font-style: normal;
    src: local("Inter24pt"), url(./Inter24pt-Black.ttf) format("opentype");
    font-display: swap;
}

/* Italic */

@font-face {
    font-family: "Inter24pt";
    font-weight: 100;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-ThinItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 200;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-ExtraLightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 300;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-LightItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 400;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-MediumItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 500;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-Italic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 600;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-SemiBoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 700;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-BoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 800;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-ExtraBoldItalic.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter24pt";
    font-weight: 900;
    font-style: italic;
    src: local("Inter24pt"), url(./Inter24pt-BlackItalic.ttf) format("opentype");
    font-display: swap;
}
