:root {
    --sub-header-height: 48px;
    --sub-header-margin-bottom: 1.5rem;
}

#root {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh;
    max-height: 100vh; */
    height: 100vh;
}

main {
    margin-bottom: 1.5rem;
    flex: 1 1 auto;
}

#sub-header {
    background-color: color-mix(in srgb, var(--bs-primary) 50%, transparent);
    color: #fff;
    padding: 0 0.75rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

#sub-header h1 {
    margin-bottom: 0;
    font-size: 1.75rem;
}

#sub-header .nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-radius: 0;
    height: 100%;
}

#sub-header .btn-list {
    display: flex;
    gap: 0.5rem;
}

#sub-header .nav-tabs button {
    height: 100%;
    color: #fff;
}

#sub-header .nav-tabs .nav-item.show .nav-link,
#sub-header .nav-tabs .nav-link.active {
    background-color: color-mix(in srgb, var(--bs-primary) 50%, transparent);
}

form-label {
    font-weight: 600;
}

.form-control.form-control-color {
    padding: 0;
    width: 100%;
}

.accordion-button {
    font-size: 1.25rem;
    font-weight: 700;
}

.accordion {
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-bg: var(--bs-gray-200);
    --bs-accordion-active-bg: var(--bs-gray-400);
    --bs-accordion-border-width: 0;
}

.accordion-button:focus {
    box-shadow: none;
}
