:root {
    --bs-header-height: 56px;
    --sub-header-height: 48px;
    --sub-header-margin-bottom: 1rem;
}

#root {
    height: 100vh;
}

main {
    margin-bottom: 1.5rem;
    height: calc(100% - var(--bs-header-height));
}

#sub-header {
    background-color: color-mix(in srgb, var(--bs-primary) 50%, transparent);
    color: #fff;
    padding: 0 0.75rem;
    margin-bottom: var(--sub-header-margin-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--sub-header-height);
}

#sub-header h1 {
    margin-bottom: 0;
    font-size: 1.75rem;
}

#sub-header .nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-radius: 0;
    height: 100%;
}

#sub-header .btn-list {
    display: flex;
    gap: 0.5rem;
}

#sub-header .nav-tabs button {
    height: 100%;
    color: #fff;
}

#sub-header .nav-tabs .nav-item.show .nav-link,
#sub-header .nav-tabs .nav-link.active {
    background-color: color-mix(in srgb, var(--bs-primary) 50%, transparent);
}

.modal {
    --bs-modal-header-border-width: 0;
    --bs-modal-footer-border-width: 0;
    --bs-modal-title-line-height: 1;
    --bs-modal-header-height: 3.25rem;
    --bs-modal-footer-height: 3.875rem;
}

.modal .modal-header {
    background-color: color-mix(in srgb, var(--bs-primary) 75%, transparent);
    color: #fff;
    height: var(--bs-modal-header-height);
}

.modal .modal-boody {
    height: calc(100% - var(--bs-modal-header-height) - var(--bs-modal-footer-height));
}

.modal .modal-footer {
    background-color: color-mix(in srgb, var(--bs-primary) 25%, transparent);
    gap: 0.5rem;
    height: var(--bs-modal-header-footer);
}

.modal .modal-footer > * {
    margin: 0;
}

form-label {
    font-weight: 600;
}

.form-control.form-control-color {
    padding: 0;
    width: 100%;
}

.accordion-button {
    font-size: 1.25rem;
    font-weight: 700;
}

.accordion {
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-bg: var(--bs-gray-200);
    --bs-accordion-active-bg: var(--bs-gray-400);
    --bs-accordion-border-width: 0;
}

.accordion-button:focus {
    box-shadow: none;
}
