@font-face {
  font-family: "Orbitron";
  font-weight: 100;
  font-style: normal;
  src: url("./Orbitron-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 200;
  font-style: normal;
  src: url("./Orbitron-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 300;
  font-style: normal;
  src: url("./Orbitron-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 400;
  font-style: normal;
  src: url("./Orbitron-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 500;
  font-style: normal;
  src: url("./Orbitron-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 600;
  font-style: normal;
  src: url("./Orbitron-SemiBold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 700;
  font-style: normal;
  src: url("./Orbitron-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 800;
  font-style: normal;
  src: url("./Orbitron-ExtraBold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  font-weight: 900;
  font-style: normal;
  src: url("./Orbitron-Black.ttf") format("opentype");
  font-display: swap;
}