@font-face {
    font-family: "Rubik80sFade";
    font-weight: 100;
    font-style: normal;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 300;
    font-style: normal;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 400;
    font-style: normal;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 500;
    font-style: normal;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 700;
    font-style: normal;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 900;
    font-style: normal;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

/* Italic */

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 100;
    font-style: italic;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 300;
    font-style: italic;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 400;
    font-style: italic;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 500;
    font-style: italic;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 700;
    font-style: italic;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Rubik80sFade";
    font-weight: 900;
    font-style: italic;
    src: local("Rubik80sFade"), url(./Rubik80sFade-Regular.ttf) format("opentype");
    font-display: swap;
}
