.preview-display {
    width: 3000px;
    height: 2250px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.41) 0px 0.5rem 3rem 7px;
    background-color: #dce0e8;
    position: relative;
    font-family: "Lato", sans-serif;
}

.text-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #222;
}

.text1 {
    font-family: "PWPerspective";
    font-size: 380px;
}
.text2 {
    font-size: 80px;
    font-weight: 500;
}
.text3 {
    font-size: 60px;
    font-weight: 700;
}

.image {
    width: 480px;
    aspect-ratio: 595/842;
    background-color: #fff;
    border: 1px solid #aaa;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.image-1 {
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-4deg);
}
.image-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}
.image-3 {
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(4deg);
}
